<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <title></title>
    <link rel="stylesheet" href="../../common/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/qrpage.css">
</head>
<body>
    <section class="page">
    <div id="content">
      <img src="../static/image/qrcode.jpg"  alt="" id="qrcode">
      <div class="font1">无趣的椰子</div>
      <div class="font2">长按二维码即可关注</div>
      </div>
    </section>

</body>
<script src="../../common/static/js/zepto.min.js"></script>
<script>

</script>
</html>





















